[package]
name = "certgen"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.89"
clap = { version = "4.5.18", features = ["derive"] }
ra-tls = { version = "0.1.0", path = "../ra-tls" }
