[Unit]
Description=App Compose Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/app
ExecStart=/usr/bin/env docker compose up -d
ExecStop=/usr/bin/env docker compose down

[Install]
WantedBy=multi-user.target
