[Unit]
Description=App Compose Service
Wants=docker.service
After=docker.service tboot.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=-/tapp/env
WorkingDirectory=/tapp
ExecStart=/bin/app-compose.sh
ExecStop=/bin/docker compose stop
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
