[Unit]
Description=App Compose Service
Requires=docker.service
After=docker.service tboot.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=-/tapp/env
WorkingDirectory=/tapp
ExecStart=/usr/bin/env docker compose up -d
ExecStop=/usr/bin/env docker compose down
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
