[Unit]
Description=DStack Guest Preparation Service
After=network.target chronyd.service
Before=app-compose.service dstack-guest-agent.service docker.service
OnFailure=reboot.target

[Service]
Type=oneshot
ExecStart=/bin/dstack-prepare.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console
FailureAction=reboot

[Install]
WantedBy=multi-user.target
