[Unit]
Description=Tappd Service
After=network.target tboot.service

[Service]
OOMScoreAdjust=-1000
ExecStartPre=-/bin/rm -f /var/run/tappd.sock
ExecStart=/bin/tappd --watchdog
Restart=always
User=root
Group=root
Type=notify
WatchdogSec=30s

[Install]
WantedBy=multi-user.target
