[Unit]
Description=Guest Boot Service
After=network.target
Before=app-compose.service tappd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env tboot.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
