[Unit]
Description=WireGuard Endpoint Checker Service
After=network-online.target tboot.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/wg-checker.sh
Restart=always
RestartSec=10
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
